.home {
    width: 100%;
    height: 100vh;
    background-color: var(--background-dark);
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--background-dark);

    p {
        color: #ffffff;
        font-size: 24px;
        font-weight: 700;
    }
}